* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;

  background-image: url("assets/images/musicbg.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.music-player {
  width: 400px;
  border-radius: 10px;
  padding: 25px 35px;
  text-align: center;
  background: radial-gradient(
    circle at 74.2% 50.9%,
    rgb(90, 14, 222) 5.2%,
    rgb(24, 166, 191) 75.3%
  );
}

nav {
  display: flex;
  color: rgb(178, 21, 231);
  justify-content: space-between;
  margin-bottom: 30px;
}
nav .title {
  padding-top: 12px;
}
nav .circle {
  width: 40px;
  height: 40px;
  background: #924747;
  border-radius: 50%;
  line-height: 40px;
  color: rgb(15, 189, 228);
  box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}

.song-img {
  width: 220px;
  border: 8px solid #5fc226;
  border-radius: 50%;

  box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}

.music-player h1 {
  font-size: 20px;
  font-weight: 400;
  color: rgb(17, 199, 193);
  margin-top: 20px;
}

.music-player p {
  font-size: 14px;
  color: rgb(14, 220, 235);
  margin-top: 10px;
}

#progress {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  /* background: white; */
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border: 8px solid #04d5f1;
  background: rgb(10, 28, 227);
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls div {
  width: 60px;
  height: 60px;
  margin: 20px;
  color: rgb(169, 10, 237);
  background: #06e8e4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
  cursor: pointer;
}

.controls div:nth-child(2) {
  transform: scale(1.5);
  background: rgb(3, 233, 103);
  color: rgb(222, 17, 229);
}
